:root{
    --footer_color: #14141E;
    --list_bgc_color: #25273C;
    --border_check: #34364D;
}
.home_page_main_container{

}
.home_page_main_container  .home_page_heeading{
    background: url(../assets/bg-mobile-dark.jpg);
    height: 16rem;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat; 
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem 5rem 2rem;
   
}
.home_page_heeading .homepage_button{
    height: 2rem;
}
.home_page_main_container .home_page_footer{
    /* background-color:#14141E; */
    color: var(--border_check);
    
}
.home_page_footer .hompage_todo_list{
   padding: 1rem;
   background-color: var(--footer_color);

}
.hompage_todo_list .createTask{
    display: flex;
    gap: 1rem;
}
.createTask .inputTask{
    padding: 1rem 3rem;
     border-radius: .25rem;
     background-color: var(--border_check);
     color: white;
     font-weight: bold;
}
.createTask .addTask{
     padding: 1rem 1rem;
     border-radius: .25rem;
     background-color: #1A8CD8;
     color: white;
     font-weight: bold;
     cursor: pointer;

}
.hompage_todo_list .list_tasks{
    margin-top: 4rem;
}
.list_tasks .tasks{
    margin-top: 1rem;
     padding: 1rem 2rem;
     border-radius: .25rem;
     background-color: var(--border_check);
     color: white;
     font-weight: bold;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.tasks .arows{
    background-color:#1A8CD8 ;
    margin-left: 5px;
    padding: .25rem;
    cursor: pointer;
    border-radius: 50%;
}
.instructions{
    font-weight: bold;
    text-align: center;
    color: #1A8CD8;
    margin-top: 2rem;
}

